.Filtre-compoment{
    padding: 10px;
}
@media only screen and (max-width:420px){
    .liste-produit-dispo{
        display:flex;
        justify-content: space-between;
    }
    .image-produit-dispo{
        width: 35px;
        height: 35px;
    }
    .titre-produit-dispo{
        display: none;
    }
}