.containerHome{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.carte-informatif{
/* From https://css.glass */
background: rgb(230, 7, 7);
border-radius: 16px;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.557);

}